@page "/credentials"
@using IT.Mechanic.App.Services.Settings
@using IT.Mechanic.App.Components.Data.Credentials
@using IT.Mechanic.Models.Configuration
@inject NavigationManager Navigation
@inject ISettingsService SettingsService
@inject ICredentialService CredentialService

<MudAppBar>
    <MudTooltip Text="Back">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" @onclick="OnBackClicked" />
    </MudTooltip>
    <MudText>Credentials</MudText>
</MudAppBar>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <GoDaddyCredentialsList CredentialService="CredentialService" />

    <RumbleCredentialsList CredentialService="CredentialService" />

    <AzureCredentialsList CredentialService="CredentialService" />

    <AwsCredentialsList CredentialService="CredentialService" />

    <DigitalOceanCredentialsList CredentialService="CredentialService" />

@*     <MudTabPanel Text="Master">
        @if (CredentialService.CredentialsState.MasterCredentials.Count > 0)
        {
            <MudExpansionPanels>
                @foreach (var credential in CredentialService.CredentialsState.MasterCredentials)
                {
                    <MudExpansionPanel Text="@credential.CredentialName">
                        <MudText Typo="Typo.body2">API Key: @credential.Credentials.MasterKey</MudText>
                        </MudExpansionPanel>
                }
            </MudExpansionPanels>
        }
        else
        {
            <MudText Typo="Typo.h5">Click Add New To Create Credentials</MudText>
        }
        <div class="mt-4">
            <MudButton Color="Color.Info" Variant="Variant.Filled">Add New</MudButton>
        </div>
    </MudTabPanel> *@
</MudTabs>

@code {
    private void OnBackClicked() {
        Navigation.NavigateTo("/settings");
    }
}
